.idea/

.vscode/

dump978/extract_nexrad

dump978/uat2esnt

dump978/uat2json

dump978/uat2text

gen_gdl90

libdump978.so

fancontrol



*.mp4



*.img



*.zip



test/bmp180_read



test/es_dump_csv



test/extract_latlng



test/extract_metar



test/getairmet



test/icao2reg



test/maxgap



test/nexrad_annunciator



test/packetrate



test/replay



test/sensortest



test/uat_read



test/uatsummary


*.o

dump1090

*.bin

misc

frames.js

.*.swp

*~

*.rej

*.orig

untrackedDeveloperSettings.js

view1090

faup1090


# Created by .ignore support plugin (hsz.mobi)

### Go template

# Compiled Object files, Static and Dynamic libs (Shared Objects)

*.o

*.a

*.so



# Folders

_obj

_test



# Architecture specific extensions/prefixes

*.[568vq]

[568vq].out



*.cgo1.go

*.cgo2.c

_cgo_defun.c

_cgo_gotypes.go

_cgo_export.*



_testmain.go



*.exe

*.test

*.prof



out/



.idea/

*.iml



*.csv

*.json



*.lyx#

*.lyx~



mpu9250/motion_driver_6_1/

sim/ahrs_sim

public

ahrsweb_server

AHRS_Math.pdf
